
@import "~bootstrap/scss/bootstrap";

body {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
  }
  
  .container {
    max-width: 960px;
  }
  
  h1{
    text-align: center;
  }
  
  .article-header {
    max-width: 700px;
  }
  .formu{
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 400px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  
}
#button{
text-align: center;
}
#txt{
text-align: center;
}
